Login
-----
1. Provide registered username/email and password
2. If account found in the database then provide access else deny.
3. Show a small notification window stating login denial

Signup
------
1. Provide necessary information
2. Show warning push notifications if account information standard not followed
3. password masking and unmasking option
4. show small notification window for successful account creation
5. show small warning window for duplicate registration of same username/email

Database
--------
1. Two tables - a. user table   b. web credential table
    a. user table - would have id for primary key
    b. credential table - would have id, account_username as primary key

Remaining
--------->
1. add user, password, email icons
2. add logo at the app bar
3. retrieve record-count - done
4. table row select values - done
5. search action - done
6. save, update, delete action - done
7. data modification password prompt- visible/invisible - done
8. logout action
9. alert for errors
